.text-center {
    text-align: center;
  }
  
  .top-image {
    text-align: center;
  }
  
  .top-image img {
    border-color: #78dfe4 !important;
  }
  
  .top-hero {
    background: rgba(100, 100, 100, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  
  h1,
  h2 {
    color: #78dfe4;
  }
  
  header>img {
    border: 10px solid #ccc;
    transition: 1s;
  }
  
  header img:hover {
    border-color: chartreuse;
  }
  
  a {
    color: #000;
    transition: ease-in 1s;
  }
  
  a:hover {
    color: #78dfe4;
  }
  
  .tags span {
    border: 1px solid #78dfe4;
    padding: 5px 10px;
    color: #78dfe4;
    border-radius: 8px;
    font-size: 0.8rem;
    display: inline-block;
    margin: 2px;
  }
  
  .top-container {
    background: url('bg.jpeg') no-repeat 50% 50%;
    background-size: cover;
  }